:root{
	/* 색상 */
	--color-black: #3f454d;
	--color-white: #ffffff;
	--color-blue: #3b88c3;
	--color-yellow: #fbbe28;
	--color-pink: #fd7f84;
	--color-light-grey: #dfdfdf;
	
	/* 크기 */
	--base-space: 8px;
	--btn-size: 60px;
	--font-size: 18px;
	--Img-size: 50px;
	
	
}

body{
	height: 100vh;
	background-color: var(--color-black);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo{
	cursor: pointer;
}

.filters{
	display: flex;
	align-items: center;
}

.filter{
	border-style: none;
	background-color: transparent;
	margin-right: var(--base-space);
	cursor: pointer;
}

.logo:hover,
.filter:hover{
	transform: scale(1.1);
}

.imgFilter{
	width: var(--btn-size);
	height: var(--btn-size);
}

.color_filter{
	width: var(--btn-size);
	height: var(--btn-size);
	font-size: var(--font-size);
	border-radius: 10px;
}

.blue{
	background-color: var(--color-blue);
}

.pink{
	background-color: var(--color-pink);
}

.yellow{
	background-color: var(--color-yellow);
}

.items{
	width: 60%;
	height: 60%;
	padding-left: 3px;
	overflow-y: scroll;
	overflow-style: none;
}

.item{
	background-color: var(--color-white);
	list-style: none; 
	display: flex;
	align-items: center;
	margin-bottom: var(--base-space);
	border-radius: 5px;
	font-size: calc(var(--font-size)*0.8);
}

.itemImg{
	width: var(--Img-size);
	height: var(--Img-size);
	padding-right: 10px;
}